@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-image: url('../public/background1.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position-y: calc(100% + 50px); /* Adjust the position */
  background-position-x: calc(100% + 50px); /* Adjust the position */


}

@font-face {
  src: url('../public/fonts/Poppins-SemiBold.ttf');
  font-family: 'Poppins';
}

@font-face {
  src: url('../public/fonts/Anurati-Regular.otf');
  font-family: 'Anurati';
}